:root{
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--Light-Grayish-Blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
}
.main{
    display: flex;
    background-color: #fff;
    margin: 2rem auto;
    max-width: 45.75rem;
    max-height: 17.5rem;
    border-radius: 20px;
    box-shadow: 4px 16px 20px 0px rgb(226, 226, 226);
}
.left{
    width: 100%;
    background-image: url(./images/drawers.jpg);
    background-repeat: no-repeat;
    border-radius: 20px 0 0 20px;
    zoom: 53%;
}
.about{
    margin: 2rem;
}
.about h2{
    color: var(--Desaturated-Dark-Blue);
    font-size: 20px;
    font-weight: 700;
    max-width: 350px;
    line-height: 1.7rem;
    margin-top: 0px;
}
.about p{
    color: var(--Grayish-Blue);
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5rem;
    margin-top: -6px;
    
}
.author-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -0.5rem;
}
.author{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}
.author img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
}
.author-name h3{
    color: var(--Desaturated-Dark-Blue);
    font-size: 16px;
}
.author-name p{
    margin-top: -1rem;
    margin-bottom: 0;
}
button{
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    border: none;
}

footer a{
    color: var(--Grayish-Blue);
    text-decoration: none;
}

/* Mobile Design */
@media (max-width: 600px) {
    body{
        padding: 0px;
    }
    .main{
        flex-direction: column;
        max-height: 33rem;
        max-width: 21rem;
        margin-top: 3rem;
    }
    .left{
        height: 100rem;
        width: 100%;
        zoom: 51%;
        border-radius: 20px 20px 0 0;
    }
    .about{
        margin: 2rem;
    }
    .about h2{
        font-weight: 700;
        font-size: 17px;
    }
    .share{
        background-color: var(--Very-Dark-Grayish-Blue);
        display: none;
        justify-content: space-around;
        align-items: center;
        margin-top: -0.5rem;
        border-radius: 0 0 20px 20px;
        width: 336px;
        height: 70px;
        margin-top: 20px;
        margin-bottom: -30px;
        margin-left: -31px;
    }
    .share p{
        padding-top: 25px;
        font-size: 18px;
    }
    .share button{
        margin-left: 50px;
    }
}